body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #d0a3d3;
    color: #ffffff;
    padding: 15px;
    text-align: center;
  }

  nav {
    background-color: #f19fd927;
    color: #fff;
    padding: 30px;
    text-align: center;
  }

  section {
    padding: 20px;
    margin: 20px;
    background-color: #ffe5e5;
  }

  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .product img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }

  footer {
    background-color: #cc94c0;
    color: #fff;
    padding: 20px;
    text-align: center;
  }